/* css/dashboard_admin.css */
body { background:#0b0b0b; color:#fff; font-family: Poppins, sans-serif; }
.navbar { border-bottom: 3px solid #d4af37; }
.card { background:#0f0f0f; border:1px solid #222; }
.btn-warning { background:#d4af37; border: none; color:#000; }
.table-dark thead th { background:#111; color:#ffd; }
#detailCard { margin-top: 12px; }
